{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scalable=yes">
	<title>Workhub Job Vacancies</title>
	<meta name='keywords' content='job vacancies, staffing and recruitment, job opening, work opening.'>
    <meta name='description' content="Workhub, your gateway to career opportunities. We connect talented individuals with the job of their dreams through our platform, offering a seamless experience for both employers and job seekers.">
    <meta name='subject' content="Job Vacancies">
    <meta name='copyright' content='Workhub Co'>
    <meta name='language' content='english'>
    <meta name='revised' content='Monday, May 6TH, 2024, 12:00AM'>
    <meta name='topic' content='Job search, job market, job openings and vacancies, remote work, networking, resume, interview'>
    <meta name='summary' content='Workhub, your gateway to career opportunities. We connect talented individuals with the job of their dreams through our platform, offering a seamless experience for both employers and job seekers.'>
    <meta name='classification' content='Job Vacancies'>
    <meta name='author' content='Aderibigbe Ayomide, uniwylimp@gmail.com'>
    <meta name='designer' content='Workhub, workhubagency@outlook.com'>
    <meta name='reply-to' content='workhubagency@outlook.com'>
    <meta name='owner' content='Aderibigbe Ayomide, uniwylimp@gmail.com'>
    <meta name='url' content='https://workhubagency.pythonanywhere.com'>
    <meta name='identifier-URL' content='https://workhubagency.pythonanywhere.com'>
    <meta name='directory' content='submission'>
    <meta name='pagename' content='Workhub Job Vacancies.'>
    <meta name='category' content='Staffing and Recruitment, job'>
    <meta name='coverage' content='Worldwide'>
    <meta name='distribution' content='Global'>
    <meta name='rating' content='General'>
    <meta name='target' content='all'>
    <meta name='HandheldFriendly' content='True'>
    <meta name='MobileOptimized' content='320'>
	<link rel="stylesheet" type="text/css" href="{% static './css/index.css' %}">
	<script type="text/javascript" src="{% static './js/jquery-1.9.1.min.js' %}"></script>
</head>
<body>
	<nav>
		<div class="logo">
			<img src="{% static './asset/logo/logo.png' %}">
		</div>
		<div class="navigations nav_old">
			<a href="/">Home</a>
			<a href="/job_board">JobBoard</a>
			<a href="/employer_signup">Company</a>
			<a href="/employee_signup">FindJob</a>
			<a href="https://www.themuse.com/advice/45-pieces-of-career-advice-that-will-get-you-to-the-top" target="_blank">Carrier</a>
			<a href="https://flutterwave.com/donate/61efsjgmjsvx" target="_blank">Donate</a>
		</div>
		<div class="extra">
			<a href="https://www.x.com/workhubagency/" target="_blank" class="social_social"><img src="{% static './asset/img/facebook.png' %}"></a>
			<a href="https://www.instagram.com/workhub.co/" target="_blank" class="social_social"><img src="{% static './asset/img/instagram_1.png' %}"></a>
			<a href="https://chat.whatsapp.com/GprLUZWV7TP5KtjSBIIb8I" target="_blank" class="social_social"><img src="{% static './asset/img/whatsapp_1.png' %}"></a>
			<span class="classico_button">
				<a href="/login">Get Started</a>
			</span>
			<a href="#" id="menu_drop"><img src="{% static './asset/img/menu_tab.png' %}" class="menu_tab"></a>
		</div>
	</nav>
	<section class="navigation_drop_down">
		<a href="/">Home</a>
		<a href="/job_board">JobBoard</a>
		<a href="/employer_signup">Company</a>
		<a href="/employee_signup">FindJob</a>
		<a href="https://www.themuse.com/advice/45-pieces-of-career-advice-that-will-get-you-to-the-top" target="_blank">Carrier</a>
		<a href="https://flutterwave.com/donate/61efsjgmjsvx" target="_blank">Donate</a>
	</section>
	<div style="height: 62.5px;"></div>
	<header>
			<div class="header_article">
				<h1>TAKE A HOLD<br> OF YOUR <span class="red">CARRIER</span></h1>
				<p>WorkHub offers the best jobs, internships and scholarships opportunities to millions of users across the globe at a zero fee cost. Take a hold of your professional career in few minutes, sign-up, get access and start applying to a world full of offers.</p>
				<div class="header_links">
					<a href="/login">Sign-In</a>
					<a href="https://www.themuse.com/advice/45-pieces-of-career-advice-that-will-get-you-to-the-top" target="_blank">Career Advice</a>
				</div>
			</div>
			<div class="header_image">
				<img src="{% static './asset/img/female_head_img.png' %}" id="first_hide">
				<img src="{% static './asset/img/female_head_img.png' %}" id="second_hide">
			</div>

		</header>
	<section class="feature_background">
		<section class="feature_title">
			<h1>Explore all<span class="black"> you can do with workhub</span></h1>
			<p>Uniting the professional world through the WorkHub platform!</p>
		</section>
		<section class="feature">
			<div class="single">
                <div class="single_feature">
                    <img src="{% static './asset/img/checklist.png' %}">
                    <h3>Job Openings</h3>
                    <p> Explore a wide range of job opportunities and seamlessly apply for positions tailored to your skills and preferences.</p>
                </div>
                <div class="single_feature">
                    <img src="{% static './asset/img/checklist.png' %}">
                    <h3>Internships Offers</h3>
                    <p> Explore a variety of internship opportunities matching your interests and qualifications, and effortlessly apply to gain valuable experience.</p>
                </div>
                <div class="single_feature">
                    <img src="{% static './asset/img/checklist.png' %}">
                    <h3>Scholarships Offers</h3>
                    <p> Are you interested in pushing your professional career forward? Get access to variety of educational scholarships by registering on WorkHub</p>
                </div>
                <div class="single_feature">
                    <img src="{% static './asset/img/checklist.png' %}">
                    <h3>Real-Time Update</h3>
                    <p> Never miss out on the latest professional news, opening and offers. Get daily notifications on the latest openings and offers when you sign up to WorkHub.</p>
                </div>
                <div class="single_feature">
                    <img src="{% static './asset/img/checklist.png' %}">
                    <h3>Company Recruitment</h3>
                    <p>Looking for applicants? Get access to millions of talented professionals on WorkHub by creating your first job post when you sign up.</p>
                </div>
                <div class="single_feature">
                    <img src="{% static './asset/img/checklist.png' %}">
                    <h3>Zero-Fee</h3>
                    <p> WorkHub is a free platform, promoting equality and fairness in our screening process. Job qualification process is fully done on merits.</p>
                </div>
                <div class="single_feature">
                    <img src="{% static './asset/img/checklist.png' %}">
                    <h3>Sponsorship</h3>
                    <p>WorkHub is focused on building the professional world. Contact us today to become a proud sponsor of WorkHub.</p>
                </div>
                <div class="single_feature">
                    <img src="{% static './asset/img/checklist.png' %}">
                    <h3>Professional Profile</h3>
                    <p>You have access to a fully equipped professional profile. Get started with WorkHub today to upscale your career.</p>
                </div>
            </div>
		</section>
		</section>
	<section class="services">
			<div class="services_article">
				<h1>WHAT <br> SERVICES DO <br><span class="red"> WE OFFER?</span></h1>
				<p>Are you an employer or an employee? Join the race in creating or joining your first job on WorkHub.
					Provided at a zero fee plan, get unlimited access to the professional working class and offers right on your
					bed.
				</p>
				<div class="services_links">
					<a href="/employer_signup">Employer</a>
					<a href=/employee_signup">Employee</a>
				</div>
			</div>
			<div class="services_image">
				<div class="one_enti">
					<div class="two_enti">
						<img src="{% static './asset/img/accountant2.jpg' %}">
					</div>
				</div>
			</div>
		</section>
	<section class="team_title">
        <h1><span class="black">Meet Our Working</span> Team</h1>
			<p>Meet the team behind the scene that brings workhub to life!</p>
		</section>
	<section class="team">
			<div class="single_team">
				<img src="{% static './asset/img/person4.jpg' %}">
				<h3>Angela Jonathan</h3>
				<p>CEO WorkHub</p>
				<span class="team_social">
					<img src="{% static './asset/img/f1.png' %}">
					<img src="{% static './asset/img/f3.png' %}">
					<img src="{% static './asset/img/f2.png' %}">
					<img src="{% static './asset/img/f4.png' %}">
				</span>
			</div>
			<div class="single_team">
				<img src="{% static './asset/img/accountant2.jpg' %}">
				<h3>Luis Katherine</h3>
				<p>Executive Manager</p>
				<span class="team_social">
					<img src="{% static './asset/img/f1.png' %}">
					<img src="{% static './asset/img/f3.png' %}">
					<img src="{% static './asset/img/f2.png' %}">
					<img src="{% static './asset/img/f4.png' %}">
				</span>
			</div>
			<div class="single_team">
				<img src="{% static './asset/img/accountant3.jpg' %}">
				<h3>Bill Anderson</h3>
				<p>Project Manager</p>
				<span class="team_social">
					<img src="{% static './asset/img/f1.png' %}">
					<img src="{% static './asset/img/f3.png' %}">
					<img src="{% static './asset/img/f2.png' %}">
					<img src="{% static './asset/img/f4.png' %}">
				</span>
			</div>
			<div class="single_team">
				<img src="{% static './asset/img/accountant4.jpg' %}">
				<h3>Kamron James</h3>
				<p>HR Manager</p>
				<span class="team_social">
					<img src="{% static './asset/img/f1.png' %}">
					<img src="{% static './asset/img/f3.png' %}">
					<img src="{% static './asset/img/f2.png' %}">
					<img src="{% static './asset/img/f4.png' %}">
				</span>
			</div>
			<div class="single_team">
				<img src="{% static './asset/img/accountant1.jpg' %}">
				<h3>Miles Moralis</h3>
				<p>Senior Developer</p>
				<span class="team_social">
					<img src="{% static './asset/img/f1.png' %}">
					<img src="{% static './asset/img/f3.png' %}">
					<img src="{% static './asset/img/f2.png' %}">
					<img src="{% static './asset/img/f4.png' %}">
				</span>
			</div>
		</section>
	<section class="contact_title">
			<h1>Need to get in touch with <span class="red">us</span></h1>
			<p>Uniting the professional world a step at a time.</p>
	</section>
	<section class="contact">
			<div class="contact_tab_one">
				<img src="{% static './asset/img/f4.png' %}">
				<h1>Talk with our sales expert</h1>
				<p>Give us a call if you need help with selecting a product</p>
				<p>Call <strong class="bolder">+234-704-681-0016</strong>(Mon-Fri, 5 AM to 6 PM PT)</p>
			</div>
			<div class="contact_tab_two">
				<img src="{% static './asset/img/f4.png' %}">
				<h1>Visit our support up</h1>
				<p>Find help articles, video tutorials and connect </p>
				<p>with other businesses in our online community</p>
				<div class="contact_links">
					<a onclick="display_community()">community & support</a>
					<a href="https://www.instagram.com/workhub.co/" target="_blank">Contact</a>
				</div>
			</div>
		</section>
	<footer class="footer">
	        <ul>
	            <li><a href="/job_board_all">All Jobs</a></li>
	            <li><a  onclick="display_community()">Community</a></li>
	            <li><a href="https://www.themuse.com/advice/45-pieces-of-career-advice-that-will-get-you-to-the-top" target="_blank">Career</a></li>
	            <li><a href="/employer_signup">Company</a></li>
	            <li><a href="https://www.instagram.com/workhub.co/" target="_blank">Contact</a></li>
	          </ul>
	    </footer>
	<div id="social_communities">
		<span class="social_header">
			<h1>JOIN OUR SOCIAL <span class="red">COMMUNITIES</span></h1>
			<h2 class="red"><a onclick="remove_community()">Close</a></h2>
		</span>
		<div class="social_tab">
			<div class="single_social">
				<img src="{% static './asset/img/whatsapp_1.png'%}">
				<h2><a href="https://chat.whatsapp.com/GprLUZWV7TP5KtjSBIIb8I" target="_blank" style="color: white;">Whatsapp</a></h2>
			</div>
			<div class="single_social">
				<img src="{% static './asset/img/facebook.png'%}">
				<h2><a href="https://www.x.com/workhubagency/" target="_blank" style="color: white;">X(Twitter)</a></h2>
			</div>
			<div class="single_social">
				<img src="{% static './asset/img/instagram_1.png'%}">
				<h2><a href="https://www.instagram.com/workhub.co/" target="_blank" style="color: white;">Instagram</a></h2>
			</div>
			<div class="single_social">
				<img src="{% static './asset/img/linkedin.png'%}">
				<h2><a href="https://www.linkedin.com/company/workhub-corporation/" target="_blank" style="color: white;">LinkedIn</a></h2>
			</div>
		</div>
	</div>
	<div id="hideAll">&nbsp</div>
	<script type="text/javascript">
		window.onload = function(){
			document.getElementById("hideAll").style.display = "none";
		}

		var super_count = 0;
		$("#menu_drop").on("click", function()
		{
			if(super_count == 0)
			{
				super_count = 1;
				let eken = document.querySelector(".navigation_drop_down");
				eken.style = "flex !important;";
				$(".navigation_drop_down").css({"height": "100%", "width": "100%", "position": "fixed", "left": "0px"});
			}

			else
			{
				super_count = 0;
				let eken = document.querySelector(".navigation_drop_down");
				eken.style = "none !important;";
			}

		});

		function display_community()
		{
			document.getElementById("social_communities").style.display = "flex"
		}

		function remove_community()
		{
			document.getElementById("social_communities").style.display = "none"
		}

		$(document).ready(function(){
			setInterval(function(){
			    if(window.innerWidth > 930)
			    {
			        $(".navigation_drop_down").css({"display": "none"})
			    }
			});
		});

	</script>
</body>
</html>